<h1>AngularJS Tables</h1>

<h2>在表格中顯示數據</h2>
<div>
    <table>
        <tr>
            <td>序號</td>
            <td>名字</td>
            <td>市</td>
            <td>國家</td>
        </tr>
        <!--使用 orderBy 過濾器：排序顯示-->
        <tr ng-repeat="record in table.records | orderBy : 'Country'">
            <!--顯示序號($index)-->
            <td>{{$index}}</td>
            <td>{{record.Name}}</td>
            <td>{{record.City}}</td>
            <!--使用 uppercase 過濾器：使用 uppercase 過濾器轉換為大寫-->
            <td>{{record.Country | uppercase}}</td>
        </tr>
    </table>
</div>

<h2>使用 CSS 樣式</h2>
<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }

    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    table tr:nth-child(even) {
        background-color: #ffffff;
    }
</style>
<h2>使用 $even 和 $odd</h2>
<div>
    <table>
        <tr>
            <td>序號</td>
            <td>名字</td>
            <td>市</td>
            <td>國家</td>
        </tr>
        <tr ng-repeat="record in table.records | orderBy : 'Country'">
            <td ng-if="$even">{{$index}}</td>
            <td ng-if="$odd" style="background-color:#f1f1f1">{{$index}}</td>
            <td>{{record.Name}}</td>
            <td>{{record.City}}</td>
            <td>{{record.Country | uppercase}}</td>
        </tr>
    </table>
</div>
